/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700');
 body, html {
  // background-size: 238px 151px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #888;
 }
 html {
  background: url('../webpage/resources/gcmap-tile-01.png'); 
  overflow: hidden;
 }
 #hole {
  position:absolute;
  top: 0;
  left: 0;
 }
 #hole-blocker {
  background: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  @include transition(opacity 1s);
 }
.hole-margin {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 400px;
  &#hm-right {
    left: 100%;
  }
  &#hm-down {
    top: 100%;
  }
}
.logo-nav.side {
  #main-logo {
    left: -40%;
  }
  .nav-buttons {
    position: absolute;
    top: 50%;
    left: 10%;
    margin: -101px 0 0 120px;
    .button {
      // background: #f00;
      margin: 5px 0;
      text-transform: uppercase;
      display: block;
      height: 30px;
      width: 120px;
      line-height: 40px;
      position: relative;
      text-align: left;
      p {
        position: relative;
        display: inline-block;
        // background: #0f0;
        margin: 0;
        padding-left: 5px;
        top: -5px;
      }
    }
  }
}
.logo-nav {
  // background: #f00;
  margin: 140px auto 0 auto;
  position: relative;
  width: 960px;
  #main-logo {
    position: relative;
    display:block;
    margin: 0 auto;
    width: 200px;
  }
  .nav-buttons {
    position: absolute;
    top:50%;
    left:50%;
    margin: -50px 0 0 -50px;
    width: 100px;
    height: 100px;
    @include transition(all 1s);
    .button {
      text-transform: uppercase;
      display: block;
      height: 40px;
      width: 200px;
      line-height: 40px;
      margin-left: -100px;
      margin-top: -20px;
      position: absolute;
      text-align: center;
      @include transition(all 1s);
      @include transition(color .3s);
      &:hover {
        color: #E5851C;
        cursor: pointer;
      }
    }
    .nb-ico {
      float: left;
      height: 30px;
      width: 30px;
    }
  }
}