/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "hole";
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700');
 body, html {
  // background-size: 238px 151px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #888;
 }
 html {
  background: url('../webpage/resources/gcmap-tile-01.png'); 
  overflow: hidden;
 }
.content {
  width: 960px;
  margin: 140px auto 0 auto;
  h1 {
    font-size: 30px;
  }
}
.logo-nav {
  position: relative;
  float: left;
  width: 200px;
  margin-left: calc(50% - 100px);
  @include transition(all .5s ease);
  #main-logo {
    position: relative;
    display:block;
    width: 200px;
    z-index: 100;

  }
  #nav-buttons {
    position: absolute;
    top:50%;
    left:50%;
    margin: -250px 0 0 -250px;
    width: 500px;
    height: 500px;
    // background: #0f0;
    // @include transition(all 1s);
    .button {
      // background: #f00;
      z-index: 101;
      line-height: 30px;
      position: absolute;
      margin-top: -15px; 
      
      p {
        // padding-left: 5px;
        float: left;
      }
      &.left p {
        // padding: 0 5px 0 0;
      }
    } 
  }
}
.logo-nav.side {
  margin-left: 0; 
  // #main-logo {
  //   margin-left: 0; 
  // }
}
.button {
  text-transform: uppercase;
  &:hover {
    color: #E5851C;
    cursor: pointer;
  } 
  @include transition(color .3s);
}
#nav-buttons-side {
  background: #f00;
  width: 200px;
  .button {
    float: left;
    height: 30px;
    width: 100%;
    line-height: 30px;
    margin: 5px 0 5px 20%;
    p {
      float: left;
      padding-left: 5px;
    }
    .nb-ico {
      float: left;
      height: 30px;
      width: 30px;
      img {
        height: 100%;
        width: 100%;
      }
      .cover {
        position: relative;
        top: -30px;
        height: 30px;
        width: 30px;
        background: #888;
        @include border-radius(15px);
        @include transform(scale(0));
        @include transition(all .3s ease-out);
      }
    }
    &:hover {
      .cover {
        @include transform(scale(1));
      }
    }
  }
}
.text {
  // background: #f0f;
  width: calc(100% - 220px);
  float: right;
  margin-top: 200px;
  opacity: 0;
  @include transition(all .7s ease);
  p {
    z-index: 100;
  }
  &.side {
    opacity: 1;
    margin-top: 0;
  }
}