$offset: 0.1s;
$wait1: 0.6s;
$wait2: 0.9s;
.tab-switch {
	position: fixed;
  &:target {
    ~ nav {
      // margin-top: 0;
      #side-logo {
        padding: 14px;
        max-width: 60px;
        @include transition(all 0.7s cubic-bezier(.48,.08,.2,.99) 1s);
      }
      #main-logo {
        max-height: 44px;
        @include transition(all 1s cubic-bezier(.48,.08,.2,.99) 0.25s);
        img {
          bottom: -356px;
          @include transition(all 1s cubic-bezier(.48,.08,.2,.99) 0.25s);
        }
      }
      #nav-buttons {
        .button-nav {
          margin-top: -44px;
          @include transition(all 0.5s cubic-bezier(.32,.53,.35,.98));
          &#nav-about {
            @include transition-delay($offset);
          }
          &#nav-map {
            @include transition-delay($offset * 2);
          }
          &#nav-blog {
            @include transition-delay($offset * 3);
          }
          &#nav-contact {
            @include transition-delay($offset * 4);
          }
        }
      }
      #nav-buttons-top {
        .button-nav {
          margin-top: 0;
          @include transition(all 0.5s cubic-bezier(.32,.53,.35,.98) $wait2);
          &#nav-about {
            @include transition-delay($wait2 + $offset);
          }
          &#nav-map {
            @include transition-delay($wait2 + $offset * 2);
          }
          &#nav-blog {
            @include transition-delay($wait2 + $offset * 3);
          }
          &#nav-contact {
            @include transition-delay($wait2 + $offset * 4);
          }
        }
      }

      
    }
  }
}

#nav-buttons {
  .button-nav {
    @include transition(all 0.5s cubic-bezier(.32,.53,.35,.98) $wait1);
    &#nav-about {
      @include transition-delay($wait1 + $offset);
    }
    &#nav-map {
      @include transition-delay($wait1 + $offset * 2);
    }
    &#nav-blog {
      @include transition-delay($wait1 + $offset * 3);
    }
    &#nav-contact {
      @include transition-delay($wait1 + $offset * 4);
    }
  }
}

#nav-buttons-top {
  .button-nav {
    @include transition(all 0.5s cubic-bezier(.32,.53,.35,.98));
    &#nav-about {
      @include transition-delay($offset);
    }
    &#nav-map {
      @include transition-delay($offset * 2);
    }
    &#nav-blog {
      @include transition-delay($offset * 3);
    }
    &#nav-contact {
      @include transition-delay($offset * 4);
    }
  }
}

.tab-switch {
  + .content {
    display: none;
    // visibility: hidden;
    opacity: 0;
  }
  &:target {
    + .content {
      display: block;
      margin-top: 70px;
      // visibility: visible;
      // opacity: 1;
      animation: grow 0.8s ease;
      opacity: 1;
    }
  }
}
@keyframes grow {
  0% {
    margin-top: 100px;
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 70px;
  }
}