/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "transition";
@import "profile-pics";
@import "contact";

$black: #000;
$primary: #000;
$secondary: #ef121d;
$tertiary: #777;

@font-face {
    font-family: 'league_gothicregular';
    src: url('../resources/league-gothic/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../resources/league-gothic/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'chivoregular';
    src: url('../resources/chivo/chivo-regular-webfont.woff2') format('woff2'),
         url('../resources/chivo/chivo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'chivoitalic';
    src: url('../resources/chivo/chivo-italic-webfont.woff2') format('woff2'),
         url('../resources/chivo/chivo-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'chivobold';
    src: url('../resources/chivo/chivo-bold-webfont.woff2') format('woff2'),
         url('../resources/chivo/chivo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
    overflow-y:scroll;
}
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
body {
	font-family: "league_gothicregular";
  font-size: 20pt;
  .content {
    h1 {
      margin-left: -20px;
      margin-bottom: 10px;
      margin-top: 12px;
      text-align: center;
      text-transform: uppercase;
      font-size: 30pt;
      color: $primary;
    }
    h2 {
      margin-left: -20px;
      margin-bottom: 10px;
      font-family: 'chivoitalic';
      font-size: 14pt;
      text-align: center;
      color: $secondary;
    }
    h3 {
      margin-left: -20px;
      margin-bottom: 10px;
      font-family: 'chivoitalic';
      font-size: 14pt;
      text-align: center;
      color: $tertiary;
    }
    h4 {
      // margin-bottom: 10px;
      font-family: 'chivoregular';
      font-size: 14pt;
      text-align: center;
      color: $primary;
    }
    h5 {
      // margin-bottom: 10px;
      font-family: 'chivoitalic';
      font-size: 14pt;
      text-align: center;
      color: $secondary;
    }
    p {
      font-family: 'chivoregular';
      font-size: 12pt;
      line-height: 1.5;
    }
    hr {
      margin-bottom: 6px;
    }
    .date {
      font-family: 'chivoregular';
      font-size: 10pt;
    }
  }
}
nav {
  // margin: 0 auto 0 auto;
  left: 50%;
  position: fixed;
  top: 0;
  width: 960px;
  @include transform(translate(-50%, 0));
  #main-logo {
    background: #fff;
    height: 400px;
    max-height: 400px;
    overflow: hidden;
    position: relative;
    width: 100%;
    @include transition(max-height 1s cubic-bezier(.48,.08,.2,.99) 0.5s);
    img {
      // background: #0ff;
      bottom: 0;
      left: 50%;
      display: block;
      margin: 0 auto 0 auto;
      padding-bottom: 14px;
      position: absolute;
      height: 200px;
      // width: 140px;
      @include transform(translate(-50%, 0));
      @include transition(bottom 1s cubic-bezier(.48,.08,.2,.99) 0.5s);
    }
  }
  #side-logo {
    background: $black;
    // width: 60px;
    position: absolute;
    // right: 0;
    height: 0px;

    overflow: hidden;
    z-index: 10;
    @include transform(translate(-100%, 0));
    @include transition(height 0.7s cubic-bezier(.48,.08,.2,.99));
    img {
      display: block;
      width: 60px;
      margin: 14px;
    }
  }
  #nav-buttons {
    // background: #f00;
    border-top: $black solid 3px;
    overflow: hidden;
    height: 44px;
    width: 100%;
    .button-nav {
      // background: #0f0;
      padding-top: 8px;
      float: left;
      overflow: hidden;
      text-decoration: none;
      height: 100%;
      width: 20%;
      p {
        // background: #f0f;
        color: $black;
        display: block;
        text-align: center;
        text-transform: uppercase;
        height: 100%;
        width: 100%;
      }
      .button-hover {
        background: $black;
        color: #fff;
        // padding-top: 8px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        top: calc(-100% - 8px);
        height: 0px;
        width: 100%;
        overflow: hidden;
        @include transition(height 0.35s cubic-bezier(.32,.53,.35,.98));
        div {
          padding-top: 8px;
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
      &:hover {
        .button-hover {
          height: 100%;
        }
      }
    }
  }
}

#nav-buttons-top {
    // background: #f00;
    overflow: hidden;
    height: 44px;
    width: 100%;
    position: absolute;
    top: 0;
    .button-nav {
      // background: #0f0;
      padding-top: 12px;
      margin-top: 44px;
      float: left;
      overflow: hidden;
      text-decoration: none;
      height: 100%;
      width: 20%;
      p {
        // background: #f0f;
        color: $black;
        display: block;
        text-align: center;
        text-transform: uppercase;
        height: 100%;
        width: 100%;
      }
      .button-hover {
        background: $black;
        color: #fff;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        top: -12px;
        height: 100%;
        width: 100%;
        overflow: hidden;
        @include transition(top 0.5s cubic-bezier(.32,.53,.35,.98));
        div {
          margin-top: -33px;
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0);
          @include transition(margin-top 0.5s cubic-bezier(.32,.53,.35,.98));
        }
      }
      &:hover {
        .button-hover {
          top: -56px;
          div {
            margin-top: 12px;
          }
        }
      }
    }
  }

.content {
  // background: #3af;
  left: 50%;
  padding-left: 20px;
  position: absolute;
  margin-top: 100px;
  width: 640px;

  @include transform(translate(-50%, 0));
  animation-delay: 0.2s;
} 
