/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,700");
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_hole.scss */
#hole {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

/* line 8, ../sass/_hole.scss */
#hole-blocker {
  background: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -100;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

/* line 17, ../sass/_hole.scss */
.hole-margin {
  background: #fff;
  height: 100%;
  width: 400px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}
/* line 25, ../sass/_hole.scss */
.hole-margin#hm-right {
  left: 100%;
}
/* line 28, ../sass/_hole.scss */
.hole-margin#hm-down {
  top: 100%;
}

/* line 10, ../sass/screen.scss */
body, html {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #888;
}

/* line 16, ../sass/screen.scss */
html {
  background: url("../webpage/resources/gcmap-tile-01.png");
  overflow: hidden;
}

/* line 20, ../sass/screen.scss */
body {
  overflow: scroll;
}

/* line 24, ../sass/screen.scss */
.content {
  width: 960px;
  margin: 0 auto;
}
/* line 27, ../sass/screen.scss */
.content h1 {
  font-size: 30px;
  text-transform: uppercase;
}

/* line 33, ../sass/screen.scss */
.logo-nav {
  position: relative;
  float: left;
  width: 200px;
  margin: 140px 0 0 calc(50% - 100px);
  -moz-transition: all 0.8s cubic-bezier(0.65, 0.09, 0.35, 0.96);
  -o-transition: all 0.8s cubic-bezier(0.65, 0.09, 0.35, 0.96);
  -webkit-transition: all 0.8s cubic-bezier(0.65, 0.09, 0.35, 0.96);
  transition: all 0.8s cubic-bezier(0.65, 0.09, 0.35, 0.96);
}
/* line 39, ../sass/screen.scss */
.logo-nav #main-logo {
  position: relative;
  display: block;
  width: 200px;
  z-index: 100;
}
/* line 46, ../sass/screen.scss */
.logo-nav #nav-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
  width: 500px;
  height: 500px;
}
/* line 55, ../sass/screen.scss */
.logo-nav #nav-buttons .button {
  z-index: 101;
  line-height: 30px;
  position: absolute;
  margin-top: -15px;
}
/* line 62, ../sass/screen.scss */
.logo-nav #nav-buttons .button p {
  float: left;
}

/* line 72, ../sass/screen.scss */
.logo-nav.side {
  margin: 30px 0 0 0;
}

/* line 78, ../sass/screen.scss */
.button {
  text-transform: uppercase;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
/* line 80, ../sass/screen.scss */
.button:hover {
  color: #E5851C;
  cursor: pointer;
}

/* line 86, ../sass/screen.scss */
#nav-buttons-side {
  background: #f00;
  width: 200px;
}
/* line 89, ../sass/screen.scss */
#nav-buttons-side .button {
  float: left;
  height: 30px;
  width: 100%;
  line-height: 30px;
  margin: 5px 0 5px 20%;
}
/* line 95, ../sass/screen.scss */
#nav-buttons-side .button p {
  float: left;
  padding-left: 5px;
}
/* line 99, ../sass/screen.scss */
#nav-buttons-side .button .nb-ico {
  float: left;
  height: 30px;
  width: 30px;
}
/* line 103, ../sass/screen.scss */
#nav-buttons-side .button .nb-ico img {
  height: 100%;
  width: 100%;
}
/* line 107, ../sass/screen.scss */
#nav-buttons-side .button .nb-ico .cover {
  position: relative;
  top: -30px;
  height: 30px;
  width: 30px;
  background: #888;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 119, ../sass/screen.scss */
#nav-buttons-side .button:hover .cover {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* line 125, ../sass/screen.scss */
.text {
  width: calc(100% - 220px);
  float: right;
  position: relative;
  margin-top: 200px;
  opacity: 0;
  height: 100vh;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.text .content .about {
  display: none;
}

.text .content .about {}
.text .content .contact {}
.text .content .map {}
.text .content .blog {}
.text .content .team {}

/* line 134, ../sass/screen.scss */
.text article {
  margin: 0 0 30px 0;
}
/* line 136, ../sass/screen.scss */
.text article p {
  text-align: justify;
  width: 80%;
  z-index: 100;
  font-weight: 400;
  padding: 6px 0 0 7px;
}
/* line 144, ../sass/screen.scss */
.text article:first-child {
  margin-top: 90px;
}
/* line 148, ../sass/screen.scss */
.text.side {
  opacity: 1;
  margin-top: 0px;
}
