/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/_transition.scss */
.tab-switch {
  position: fixed;
}
/* line 9, ../sass/_transition.scss */
.tab-switch:target ~ nav #side-logo {
  padding: 14px;
  max-width: 60px;
  -moz-transition: all 0.7s cubic-bezier(0.48, 0.08, 0.2, 0.99) 1s;
  -o-transition: all 0.7s cubic-bezier(0.48, 0.08, 0.2, 0.99) 1s;
  -webkit-transition: all 0.7s cubic-bezier(0.48, 0.08, 0.2, 0.99);
  -webkit-transition-delay: 1s;
  transition: all 0.7s cubic-bezier(0.48, 0.08, 0.2, 0.99) 1s;
}
/* line 14, ../sass/_transition.scss */
.tab-switch:target ~ nav #main-logo {
  max-height: 44px;
  -moz-transition: all 1s cubic-bezier(0.48, 0.08, 0.2, 0.99) 0.25s;
  -o-transition: all 1s cubic-bezier(0.48, 0.08, 0.2, 0.99) 0.25s;
  -webkit-transition: all 1s cubic-bezier(0.48, 0.08, 0.2, 0.99);
  -webkit-transition-delay: 0.25s;
  transition: all 1s cubic-bezier(0.48, 0.08, 0.2, 0.99) 0.25s;
}
/* line 17, ../sass/_transition.scss */
.tab-switch:target ~ nav #main-logo img {
  bottom: -356px;
  -moz-transition: all 1s cubic-bezier(0.48, 0.08, 0.2, 0.99) 0.25s;
  -o-transition: all 1s cubic-bezier(0.48, 0.08, 0.2, 0.99) 0.25s;
  -webkit-transition: all 1s cubic-bezier(0.48, 0.08, 0.2, 0.99);
  -webkit-transition-delay: 0.25s;
  transition: all 1s cubic-bezier(0.48, 0.08, 0.2, 0.99) 0.25s;
}
/* line 23, ../sass/_transition.scss */
.tab-switch:target ~ nav #nav-buttons .button-nav {
  margin-top: -44px;
  -moz-transition: all 0.5s cubic-bezier(0.32, 0.53, 0.35, 0.98);
  -o-transition: all 0.5s cubic-bezier(0.32, 0.53, 0.35, 0.98);
  -webkit-transition: all 0.5s cubic-bezier(0.32, 0.53, 0.35, 0.98);
  transition: all 0.5s cubic-bezier(0.32, 0.53, 0.35, 0.98);
}
/* line 26, ../sass/_transition.scss */
.tab-switch:target ~ nav #nav-buttons .button-nav#nav-about {
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/* line 29, ../sass/_transition.scss */
.tab-switch:target ~ nav #nav-buttons .button-nav#nav-map {
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 32, ../sass/_transition.scss */
.tab-switch:target ~ nav #nav-buttons .button-nav#nav-blog {
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/* line 35, ../sass/_transition.scss */
.tab-switch:target ~ nav #nav-buttons .button-nav#nav-contact {
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
/* line 41, ../sass/_transition.scss */
.tab-switch:target ~ nav #nav-buttons-top .button-nav {
  margin-top: 0;
  -moz-transition: all 0.5s cubic-bezier(0.32, 0.53, 0.35, 0.98) 0.9s;
  -o-transition: all 0.5s cubic-bezier(0.32, 0.53, 0.35, 0.98) 0.9s;
  -webkit-transition: all 0.5s cubic-bezier(0.32, 0.53, 0.35, 0.98);
  -webkit-transition-delay: 0.9s;
  transition: all 0.5s cubic-bezier(0.32, 0.53, 0.35, 0.98) 0.9s;
}
/* line 44, ../sass/_transition.scss */
.tab-switch:target ~ nav #nav-buttons-top .button-nav#nav-about {
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
/* line 47, ../sass/_transition.scss */
.tab-switch:target ~ nav #nav-buttons-top .button-nav#nav-map {
  -moz-transition-delay: 1.1s;
  -o-transition-delay: 1.1s;
  -webkit-transition-delay: 1.1s;
  transition-delay: 1.1s;
}
/* line 50, ../sass/_transition.scss */
.tab-switch:target ~ nav #nav-buttons-top .button-nav#nav-blog {
  -moz-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
}
/* line 53, ../sass/_transition.scss */
.tab-switch:target ~ nav #nav-buttons-top .button-nav#nav-contact {
  -moz-transition-delay: 1.3s;
  -o-transition-delay: 1.3s;
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s;
}

/* line 65, ../sass/_transition.scss */
#nav-buttons .button-nav {
  -moz-transition: all 0.5s cubic-bezier(0.32, 0.53, 0.35, 0.98) 0.6s;
  -o-transition: all 0.5s cubic-bezier(0.32, 0.53, 0.35, 0.98) 0.6s;
  -webkit-transition: all 0.5s cubic-bezier(0.32, 0.53, 0.35, 0.98);
  -webkit-transition-delay: 0.6s;
  transition: all 0.5s cubic-bezier(0.32, 0.53, 0.35, 0.98) 0.6s;
}
/* line 67, ../sass/_transition.scss */
#nav-buttons .button-nav#nav-about {
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
/* line 70, ../sass/_transition.scss */
#nav-buttons .button-nav#nav-map {
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
/* line 73, ../sass/_transition.scss */
#nav-buttons .button-nav#nav-blog {
  -moz-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
/* line 76, ../sass/_transition.scss */
#nav-buttons .button-nav#nav-contact {
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

/* line 83, ../sass/_transition.scss */
#nav-buttons-top .button-nav {
  -moz-transition: all 0.5s cubic-bezier(0.32, 0.53, 0.35, 0.98);
  -o-transition: all 0.5s cubic-bezier(0.32, 0.53, 0.35, 0.98);
  -webkit-transition: all 0.5s cubic-bezier(0.32, 0.53, 0.35, 0.98);
  transition: all 0.5s cubic-bezier(0.32, 0.53, 0.35, 0.98);
}
/* line 85, ../sass/_transition.scss */
#nav-buttons-top .button-nav#nav-about {
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/* line 88, ../sass/_transition.scss */
#nav-buttons-top .button-nav#nav-map {
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 91, ../sass/_transition.scss */
#nav-buttons-top .button-nav#nav-blog {
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/* line 94, ../sass/_transition.scss */
#nav-buttons-top .button-nav#nav-contact {
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

/* line 101, ../sass/_transition.scss */
.tab-switch + .content {
  margin-top: 90px;
  opacity: 0;
}
/* line 107, ../sass/_transition.scss */
.tab-switch:target + .content {
  margin-top: 60px;
  opacity: 1;
}

@font-face {
  font-family: 'league_gothicregular';
  src: url("../resources/league-gothic/leaguegothic-regular-webfont.woff2") format("woff2"), url("../resources/league-gothic/leaguegothic-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'chivoregular';
  src: url("../resources/chivo/chivo-regular-webfont.woff2") format("woff2"), url("../resources/chivo/chivo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 26, ../sass/screen.scss */
body {
  font-family: "league_gothicregular";
  font-size: 20pt;
}
/* line 30, ../sass/screen.scss */
body .content h1 {
  margin-left: -20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30pt;
}
/* line 36, ../sass/screen.scss */
body .content p {
  font-family: 'chivoregular';
  font-size: 12pt;
}

/* line 42, ../sass/screen.scss */
nav {
  left: 50%;
  position: fixed;
  top: 0;
  width: 960px;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
/* line 49, ../sass/screen.scss */
nav #main-logo {
  background: #fff;
  height: 400px;
  max-height: 400px;
  overflow: hidden;
  position: relative;
  width: 100%;
  -moz-transition: all 1s cubic-bezier(0.48, 0.08, 0.2, 0.99) 0.5s;
  -o-transition: all 1s cubic-bezier(0.48, 0.08, 0.2, 0.99) 0.5s;
  -webkit-transition: all 1s cubic-bezier(0.48, 0.08, 0.2, 0.99);
  -webkit-transition-delay: 0.5s;
  transition: all 1s cubic-bezier(0.48, 0.08, 0.2, 0.99) 0.5s;
}
/* line 57, ../sass/screen.scss */
nav #main-logo img {
  bottom: 0;
  left: 50%;
  display: block;
  margin: 0 auto 0 auto;
  padding-bottom: 14px;
  position: absolute;
  height: 200px;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -moz-transition: all 1s cubic-bezier(0.48, 0.08, 0.2, 0.99) 0.5s;
  -o-transition: all 1s cubic-bezier(0.48, 0.08, 0.2, 0.99) 0.5s;
  -webkit-transition: all 1s cubic-bezier(0.48, 0.08, 0.2, 0.99);
  -webkit-transition-delay: 0.5s;
  transition: all 1s cubic-bezier(0.48, 0.08, 0.2, 0.99) 0.5s;
}
/* line 71, ../sass/screen.scss */
nav #side-logo {
  background: #000;
  position: absolute;
  left: 0;
  max-width: 0;
  padding: 14px 0;
  overflow: hidden;
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -moz-transition: all 0.7s cubic-bezier(0.48, 0.08, 0.2, 0.99);
  -o-transition: all 0.7s cubic-bezier(0.48, 0.08, 0.2, 0.99);
  -webkit-transition: all 0.7s cubic-bezier(0.48, 0.08, 0.2, 0.99);
  transition: all 0.7s cubic-bezier(0.48, 0.08, 0.2, 0.99);
}
/* line 81, ../sass/screen.scss */
nav #side-logo img {
  display: block;
  width: 60px;
}
/* line 86, ../sass/screen.scss */
nav #nav-buttons {
  border-top: #000 solid 3px;
  overflow: hidden;
  height: 44px;
  width: 100%;
}
/* line 92, ../sass/screen.scss */
nav #nav-buttons .button-nav {
  padding-top: 8px;
  float: left;
  overflow: hidden;
  text-decoration: none;
  height: 100%;
  width: 20%;
}
/* line 101, ../sass/screen.scss */
nav #nav-buttons .button-nav p {
  color: #000;
  display: block;
  text-align: center;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
}
/* line 110, ../sass/screen.scss */
nav #nav-buttons .button-nav .button-hover {
  background: #000;
  color: #fff;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: calc(-100% - 8px);
  height: 0px;
  width: 100%;
  overflow: hidden;
  -moz-transition: all 0.35s cubic-bezier(0.32, 0.53, 0.35, 0.98);
  -o-transition: all 0.35s cubic-bezier(0.32, 0.53, 0.35, 0.98);
  -webkit-transition: all 0.35s cubic-bezier(0.32, 0.53, 0.35, 0.98);
  transition: all 0.35s cubic-bezier(0.32, 0.53, 0.35, 0.98);
}
/* line 122, ../sass/screen.scss */
nav #nav-buttons .button-nav .button-hover div {
  padding-top: 8px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
/* line 130, ../sass/screen.scss */
nav #nav-buttons .button-nav:hover .button-hover {
  height: 100%;
}

/* line 138, ../sass/screen.scss */
#nav-buttons-top {
  background: #fff;
  overflow: hidden;
  height: 44px;
  width: 100%;
  position: absolute;
  top: 0;
}
/* line 146, ../sass/screen.scss */
#nav-buttons-top .button-nav {
  padding-top: 12px;
  margin-top: 44px;
  float: left;
  overflow: hidden;
  text-decoration: none;
  height: 100%;
  width: 20%;
}
/* line 155, ../sass/screen.scss */
#nav-buttons-top .button-nav p {
  color: #000;
  display: block;
  text-align: center;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
}
/* line 164, ../sass/screen.scss */
#nav-buttons-top .button-nav .button-hover {
  background: #000;
  color: #fff;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: -12px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -moz-transition: all 0.5s cubic-bezier(0.32, 0.53, 0.35, 0.98);
  -o-transition: all 0.5s cubic-bezier(0.32, 0.53, 0.35, 0.98);
  -webkit-transition: all 0.5s cubic-bezier(0.32, 0.53, 0.35, 0.98);
  transition: all 0.5s cubic-bezier(0.32, 0.53, 0.35, 0.98);
}
/* line 175, ../sass/screen.scss */
#nav-buttons-top .button-nav .button-hover div {
  margin-top: -33px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -moz-transition: all 0.5s cubic-bezier(0.32, 0.53, 0.35, 0.98);
  -o-transition: all 0.5s cubic-bezier(0.32, 0.53, 0.35, 0.98);
  -webkit-transition: all 0.5s cubic-bezier(0.32, 0.53, 0.35, 0.98);
  transition: all 0.5s cubic-bezier(0.32, 0.53, 0.35, 0.98);
}
/* line 184, ../sass/screen.scss */
#nav-buttons-top .button-nav:hover .button-hover {
  top: -56px;
}
/* line 186, ../sass/screen.scss */
#nav-buttons-top .button-nav:hover .button-hover div {
  margin-top: 12px;
}

/* line 194, ../sass/screen.scss */
.content {
  left: 50%;
  padding-left: 20px;
  position: absolute;
  width: 960px;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -moz-transition: visibility 0s;
  -o-transition: visibility 0s;
  -webkit-transition: visibility 0s;
  transition: visibility 0s;
  -moz-transition: opacity 0.8s ease, margin 0.8s ease;
  -o-transition: opacity 0.8s ease, margin 0.8s ease;
  -webkit-transition: opacity 0.8s ease, margin 0.8s ease;
  transition: opacity 0.8s ease, margin 0.8s ease;
}
