.content > .text {
  background: #ff0;
  width: calc(100% - 200px);
  float: right;
  opacity: 0;
  margin-top: 150px;
  position: absolute;
  right: 0;
  max-height: 0;
  overflow: hidden;
  @include transition(all 1s cubic-bezier(.07,.79,.61,.99));
  &.visible {
    margin-top: 0;
    opacity: 1;
    max-height: 101vh;
    overflow: hidden;
  }
}