/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

body {
  background: #f00;
}
html {
  overflow-y: scroll; 
}
#cover {
  position: fixed;
  background: #fff;
  height: 100%;
  width: 100%;
  z-index: -1;
  mask-image: url('../test.png');
  mask-type: luminance;
}
#masking {
}
.content {
  background: #0f0;
  width: 960px;
  margin: 0 auto;
  position: relative;
  .side-bar {
    background: #0ff;
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translateX(-100px);
    width: 200px;
    @include transition(left 1s ease,
                        top 1s ease);
    img {
      position: relative;
      display:block;
      width: 200px;
      z-index: 100;
    }
    @media screen and (max-width: 960px) {
      left: 0;
      transform: none;
    }
    &.side {
      left: calc(50% - 480px);
      top: 0;
    }
    #nav-buttons {
      position: absolute;
      top:50%;
      left:50%;
      margin: -250px 0 0 -250px;
      width: 500px;
      height: 500px;
      .button {
        z-index: 101;
        line-height: 30px;
        position: absolute;
        margin-top: -15px; 
        p {
          float: left;
        }
        &.left p {
        }
      } 
    }
  }
  .text {
    background: #ff0;
    width: calc(100% - 200px);
    float: right;
    opacity: 0;
    margin-top: 150px;
    position: absolute;
    right: 0;
    max-height: 0;
    overflow: hidden;
    @include transition(all 1s cubic-bezier(.07,.79,.61,.99));
    &.visible {
      margin-top: 0;
      opacity: 1;
      max-height: 101vh;
      overflow: hidden;
    }
  }
}